{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'splash.css' %}">
{% endblock %}
{% block title %}ALEX{% endblock %}


{% block content %}
  <div>
    <h1>ALEX FELDMAN</h1>
  </div>
  <div class="project-list">
    <ul>
      {% for catagory in catagories %}
        <a href="{% url 'blog:posts' catagory.name|slugify %}">
          <li class="project-list-item center-text">
            <div class="project-img-container">
              <img class="project-img" src={{catagory.image.url}} alt={{catagory.name}}>
            </div>
          </li>
        </a>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
