{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'splash.css' %}">
{% endblock %}
{% block title %}ALEX{% endblock %}


{% block content %}
  <div>
    <h1>ALEX FELDMAN</h1>
  </div>
  <div class="flex-grid">
  {% for catagory in catagories %}
    <div class="col">
      <a href="{% url 'blog:posts' catagory.name|slugify %}">
        <img src={{catagory.image.url}} alt={{catagory.description}}>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}
