{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block head %}
  <link rel="stylesheet" href="{% static 'post_list.css' %}">
{% endblock %}
{% block title %}{{ catagory|upper|deslugify }}{% endblock %}

{% block content %}
  <h1>{{ catagory|upper|deslugify }}</h1>
  <div class="breadcrumb">
    <a href="{% url 'splash' %}">Main</a>
  </div>
  <ul>
  {% for post in posts %}
      <li>
        <a href="{% url 'blog:detail' catagory|slugify post.pk %}">
          <h3 class="center-text">{{ post.title }}</h3>
          <h4 class="center-text">{{ post.created_date|date }}</h4>
          <p>{{ post.text|blurb }}</p>
        </a>
      </li>
  {% empty %}
      <li>No posts yet.</li>
  {% endfor %}
  </ul>
{% endblock %}
