{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block head %}
  <link rel="stylesheet" href="{% static 'post_list.css' %}">
{% endblock %}
{% block title %}Feldman.{{ catagory|lower|deslugify }}{% endblock %}

{% block content %}
  <h1>{{ catagory|upper|deslugify }}</h1>
  <div class="breadcrumb">
    <a href="{% url 'splash' %}">Main</a>
  </div>
  <p>{{ catagory.detail|safe }}</p>
  <ul>
  {% for post in posts %}
    <li class="post-item">
      <a href="{% url 'blog:detail' catagory|slugify post.pk %}">
        <h3>{{ post.title }}</h3>
        <h4>{{ post.created_date|date }}</h4>
        <p>{{ post.text|blurb }}</p>
      </a>
    </li>
  {% endfor %}
  </ul>
{% endblock %}
