{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="{% static 'splash.css' %}">
{% endblock %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <h3>{{ post.author }} - {{ post.created_date|date }}</h3>
  <p>{{ post.text }}</p>
  {% for tag in tags %}
      <li><a href="{% url 'blog:tags' category|slugify tag %}">{{ tag }}</a></li>
  {% empty %}
      <li>No tags.</li>
  {% endfor %}
  {{ post.published_date|date }}
{% endblock %}
