{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'tags_list.css' %}">
{% endblock %}
{% block title %}Feldman.tags{% endblock %}

{% block content %}
  <h1>{{ tag }}</h1>
  <div class="breadcrumb">
    <a href="{% url 'splash' %}">Main</a>
  </div>
  <h3>Created: {{ tag.creation_date|date }}</h3>
  <p>{{ tag.detail }}</p>
  <ul>
  {% for post in posts %}
      <li>
        <a href="{% url 'blog:detail' post.catagory|slugify post.pk %}" class="underline">
          {{ post.catagory }}: {{ post.title }} - {{ post.created_date|date }}
      </a>
    </li>
  {% empty %}
      <li>No posts yet.</li>
  {% endfor %}
  </ul>
{% endblock %}
