img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tags-list li {
  display:inline;
  padding: 2px;
}

.tags-list li a:hover{
  text-decoration: underline;
}
