ul {
  padding-left: 0px;
}

.post-item {
  margin-bottom: 25px;
  padding: 10px;
  border-left: 6px double red;
  border-radius: 10px;
}

.post-item h3, .post-item h4 {
  margin: 0px 0px;
}

.post-item p {
  margin-top: 10px;
  margin-bottom: 0px;
  overflow-wrap: break-word;
}
