/*Photo column*/
.flex-grid {
  width: 80%;
  display: inline-block;
  height: 80%;
  position: absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
}

.flex-grid div {
  display: inline-block;
  margin-left: 2%;
  margin-top: 2%;
  box-sizing: border-box;
}

.flex-grid img {
  max-width: 200px;
  max-height: 200px;
}


/* Responsive layout
 makes the two columns stack on top of each other instead of next to each other
 */
@media screen and (max-width: 600px) {
  .flex-grid .col {
    flex: 100%;
    max-width: 100%;
  }
}
