.project-list {
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  display: block;
}

.project-list-item {
  display: inline-block;
  list-style: none;
}

.project-img-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  float: left;
  margin: 10px;
}

.project-img {
  width: 100%;
  object-fit: fill;
  float: left;
  z-index: 30;
}
