{% load static %}

<html>
    <head>
      <meta charset="utf-8"/>
      <title>{% block title %}{% endblock %} - My Site</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'base.css' %}">
      {% block head %}{% endblock %}
    </head>
    <body>
      {% block content %}{% endblock %}
    </body>
    <footer>
      <div class="buttons">
        <a href="https://www.instagram.com/feldman_alex/">Insta</a>
        <a href="https://github.com/alex-fe">Github</a>
        <a href="https://www.linkedin.com/in/af3ld/">LinkedIn</a>
        <a href="mailto:alexfeldman93@gmail.com">Contact</a>
      </div>
    </footer>
</html>
